//styles.scss

//Make here your changes to bootstrap to overrides originals styles
$theme-colors: (
    "primary": #ffcc00
);
    

// Import bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

/* ------------- Custom styles ----------------- */

.logo {
    font-family: Inconsolata, monospace;
    font-weight: 700;
    font-size: 150%;
}

.logo-yellow {
    @extend .logo;
    color: #ffcc00;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px;}
.material-icons.yellow { color: #ffcc00;}
.material-icons.yellow.md-48 { font-size: 48px};