//styles.scss

//Make here your changes to bootstrap to overrides originals styles
$theme-colors: (
    "primary": #ffcc00
);
    

// Import bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

/* ------------- Custom styles ----------------- */

.logo {
    font-family: Inconsolata, monospace;
    font-weight: 700;
    font-size: 150%;
}

.logo-yellow {
    @extend .logo;
    color: #ffcc00;
}